runs/
tutorials/
nektar*/
**/credentials*.py
**/__pycache__/


#Tex files:
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.toc
*.script
*.table

# uv files
*.venv/**

