runs/
tutorials/
**credentials*.py
**__pycache__
**/spod/**/*.dat
**/spod/**/*.his

# Tex files:
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.toc
*.script
*.table

# uv files
*.venv**

# do not sync .dat files
data/*.dat

# do not sync field files
*.vtu

# codex files
*.codex
backups/
